<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS S3 Uploader</title>
</head>
<body>
    <h1>AWS S3 Uploader</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="user_file">Please select a file to upload:</label>
        <br><br>
        <input type="file" name="user_file">
        <br><br>
        <button type="submit">Upload</button>
    </form>

</body>

</html>

<style>

body {
  text-align: center;
  font-family: sans-serif;
}

</style>
